/*
** Autocomplete styles
*/
/* Suggestion list */
#autocomplete {
  position: absolute;
  border: 1px solid;
  overflow: hidden;
  background-color: #fff;
}
#autocomplete ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#autocomplete li {
  background: #fff;
  color: #000;
  white-space: pre;
  cursor: default;
  list-style: none;
  margin-left: 5px;
  padding: 3px 0;
}
#autocomplete li.selected {
  background: #0072b9;
  color: #fff;
}
/* Animated throbber */
input.form-autocomplete {
  background: url('images/throbber.gif') no-repeat 100% 2px;
}

input.throbbing {
  background-position: 100% -18px;
}

/*
** Collapsing fieldsets
*/
html.js fieldset.collapsed {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  margin-bottom: 0;
}

html.js fieldset.collapsed * {
   display: none;
}

html.js fieldset.collapsed legend,
html.js fieldset.collapsed legend * {
  display: inline;
}

html.js fieldset.collapsible legend a {
  padding-left: 15px;
  background: url('menu-expanded.png') 5px 50% no-repeat;
}

html.js fieldset.collapsed legend a {
  background-image: url('menu-collapsed.png');
}
